@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-inter
}

  
*::-webkit-scrollbar {
    width: 9px
  }
  
*::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 3px;
  }
  
*::-webkit-scrollbar-thumb {
    background: #0ea5e9;
    border-radius: 3px;
    
  }
  
